* {
	font-family: monospace;
}

#controlBox {
	display: inline-block;
	vertical-align: top;
}

#controlBox > *:not(:last-child) {
	margin-bottom: 6px;
}

canvas {
	display: inline-block;

	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;

	margin-right: 24px;
	margin-bottom: 24px;
}
