* {
	font-family: monospace;
}

body {
	background-color: #E0DFDB;
}

#controlBox {
	border: 1px dotted black;
	
	padding: 4px;
	display: inline-block;
	vertical-align: top;
}

#controlBox > *:not(:last-child) {
	margin-bottom: 6px;
}

canvas {
	display: inline-block;

	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;

	margin-right: 24px;
	margin-bottom: 24px;
}

.hide {
	
	/* I don't like this, but it's the easiest way. 
	hidden=true doesn't work when you specify the display property.	*/
	
	display: none !important;
}
